.green-bg{
    background-color: rgba(112, 181, 112, 0.23);
    border-radius: 15px;
}
.yellow{
     background-color: rgba(239, 183, 94, 0.23);
    border-radius: 15px;
}
.blou{
     background-color: rgba(94, 174, 239, 0.23);
    border-radius: 15px;
}

.title{
    color: rgba(52, 52, 116, 0.809);
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.discription{
    font-size: 14px;
}

.small-titel{
    color: rgba(52, 52, 116, 0.809);
    font-family: "Sintony", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

.small-discription{
    font-size: 20px;
    color: rgba(52, 52, 116, 0.809);
}

.btn-b{
    background-color: rgba(52, 52, 116, 0.809);
    color: aliceblue;

}
.btn-b:hover{
    background-color: rgb(255, 174, 43);
    color: black;
}

.logo-hover{
    transition: .3s;
}
.logo-hover:hover{
    transform: scale(1.1);
    opacity: 0.7;
}


.category-card {
    transition: 0.3s;
}

.category-card:hover {
    border-color: #555 !important;
    transform: translateY(-5px);
}

.product-card{
    transition: .5s;
}

.product-card:hover{
    border-color: #000000 !important; 
    transform: translateY(-5px);
}

.carousel-indicators .active {
    background-color: orange;
}

.a-hov{
    display: inline-block;
    transition: .2s;
}
.a-hov:hover{
    color: aqua !important;
    transform: translateX(5px) ;
}

.product-card {
      position: relative;
      background-color: #ffffff;
      border: 1px solid #e5e7eb;
      border-radius: 12px;
      padding: 16px;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
  }

  .product-card:hover {
      border-color: #0d6efd;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  }

   .hover-actions {
      position: absolute;
      top: 15px;
      right: 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      opacity: 0;
      visibility: hidden;
      transform: translateX(15px);
      transition: all 0.3s ease-in-out;
      z-index: 3;
  }

  .product-card:hover .hover-actions {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);

  }