.a-hov{
    display: inline-block;
    transition: .2s;
}
.a-hov:hover{
    color: rgb(255, 140, 0) !important;
    transform: translateX(5px) ;
}

.product-card {
      position: relative;
      background-color: #ffffff;
      border: 1px solid #e5e7eb;
      border-radius: 12px;
      padding: 16px;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
  }

  .product-card:hover {
      border-color: #0d6efd;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  }

   .hover-actions {
      position: absolute;
      top: 15px;
      right: 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      opacity: 0;
      visibility: hidden;
      transform: translateX(15px);
      transition: all 0.3s ease-in-out;
      z-index: 3;
  }

  .product-card:hover .hover-actions {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);

  }

  .color-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
}